form {
  text-align: left;
}
input {
  border-radius: 25px;
  border: none;
  height: 50px;
}
input[type="submit"] {
  background-color: #bbe4e9;
  font-weight: bold;
}
input[type="button"] {
  background-color: #bbe4e9;
  font-weight: bold;
}
div.container {
  width: 700px;
}
img.card-img {
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: #bbe4e9;
}
a.code-link {
  text-decoration: none;
  color: #ef5f9a;
}
footer {
  text-align: center;
  font-size: small;
}
.unit,
.divider {
  position: relative;
  top: -6px;
  font-size: 24px;
  font-weight: bold;
}
.high-low,
.real-feel,
.humidity {
  text-indent: 30px;
  font-size: 25px;
  font-style: italic;
  position: relative;
  bottom: -16px;
  right: -20px;
}
.weather-comment {
  text-indent: 20px;
  font-size: 25px;
}
.city {
  text-indent: 20px;
  font-size: x-large;
}
.weather-comment {
  font-style: italic;
  text-transform: capitalize;
}
.temperature {
  text-indent: 20px;
  font-size: 35px;
}
.city {
  font-weight: bold;
}
.previsions {
  text-indent: 30px;
  font-weight: bold;
  font-size: 23px;
  padding-top: 20px;
  text-align: center;
  line-height: 45px;
}
.active {
  color: white;
  cursor: default;
}
.active:hover {
  color: white;
}
.previsions-temperature-min {
  opacity: 0.7;
}
#current-time {
  font-size: 20px;
  font-weight: bold;
}
#current-temperature {
  font-weight: bold;
}
#city-search {
  text-indent: 15px;
}
#input-city:hover {
  background: white;
  color: #769cda;
}
#input-city {
  transition: all 150ms ease-in-out;
}
#current-location:hover {
  background: white;
  color: #769cda;
}
#current-location {
  transition: all 150ms ease-in-out;
}
